<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>105415275192-6b0gem8ah1a7p9d70lpotscbu25rnbmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105415275192-6b0gem8ah1a7p9d70lpotscbu25rnbmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBCLxN87ODf9qdCBK17aV9QHHRBBLeW8I0</string>
	<key>GCM_SENDER_ID</key>
	<string>105415275192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidapp</string>
	<key>PROJECT_ID</key>
	<string>androidapp-55304</string>
	<key>STORAGE_BUCKET</key>
	<string>androidapp-55304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105415275192:ios:27f12089db7f30ad</string>
	<key>DATABASE_URL</key>
	<string>https://androidapp-55304.firebaseio.com</string>
</dict>
</plist>